<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          meta(http-equiv="X-UA-Compatible", content="ie=edge")
          style
               include ./email.css
     body
          h2 Confirma tu Cuenta BinwebTask
          h3 Hola, ya estas casi inscripto, solo confirma el siguiente link.
          a(href=`${confirmarUrl}`) Confirma tu cuenta.
          p Si no puedes acceder a este enlace, visita #{confirmarUrl}
          p Si no solicitaste este e-mail, puedes ignorarlo.