<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          meta(http-equiv="X-UA-Compatible", content="ie=edge")
          style
               include ./email.css
     body
          h2 Reestablecer contrase침a
          h3 Hola, has solicitado reestablecer tu contrase침a, haz click en el siguiente enlace para reestablecerlo.
          p Este enlace es temporal y se vencer치 en 60 minutos. Si se vence, vuelve a solicitarlo
          a(href=`${resetUrl}`) Ir a renovar la contrase침a.
          p Si no puedes acceder a este enlace, visita #{resetUrl}
          p Si no solicitaste este e-mail, puedes ignorarlo.